@import '../../assets/scss/minix/index';
@import '../../assets/scss/theme/index';

.step_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  color: #adadad;
  .step_item {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 72px;
    &:first-child {
      margin-left: 0;
    }
  }

  .step_item > div {
    position: relative;
    margin-bottom: 4px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ADADBD;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 16px;
    i {
      position: absolute;
      right: -144px;
      top: 50%;
      width: 144px;
      height: 4px;
      transform: translateY(-50%);
      background-color: #ADADBD;
    }
  }
  .active > div {
    background-color: $themeColor;
  }
}

.content {
  height: 61vh;
  margin: 0 44px;
  padding: 34px 54px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .11);
  background: url('/static/images/Bitmap@2x.png') no-repeat right top;
  background-color: #fff;
  background-size: 220px;
  overflow: hidden;
  &.add_lesson_content {
    background-image: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
  & > span {
    display: block;
    margin-top: 10px;
    margin-bottom: 9px;
  }
  b {
    font-style: none;
    color: #F76B1C;
  }
  & > p {
    display: flex;
    align-items: center;
    color: #ADADBD;
    .icon {
      margin-right: 8px;
      display: block;
      width: 28px;
      height: 28px;
      @include dprImg('classname_icon');
      background-size: 100%;
      &.grade {
        @include dprImg('grade_icon');
        background-size: 100%;
      }
      &.subject {
        @include dprImg('classification_icon');
        background-size: 100%;
      }
      &.difficulty {
        @include dprImg('difficulty_icon');
        background-size: 100%;
      }
      &.price {
        @include dprImg('price_icon');
        background-size: 100%;
      }
    }
    span {
      color: #F76B1C;
      margin-left: 5px;
    }
  }
  .subtitle {
    color: #ADADBD;
  }
  .input {
    height: 41px;
    width: 480px;
    border-bottom: 1px #E5E5EE solid;
    margin-bottom: 20px;
    margin-left: 36px;
  }
  .price_input {
    width: 200px;
    color: #F76B1C;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    width: 120px;
    height: 32px;
    border-radius: 50px;
    background-color: #ADADBD;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin-right: 16px;
    &.active {
      background-color: $themeColor;
    }
  }
}

.lesson_input {
  box-sizing: border-box;
  padding-left: 10px;
  margin-right: 8px;
  width: 250px;
  height: 39px;
  border: 1px #dcdfe6 solid;
}

.content .lesson_title {
  font-size: 18px;
  color: $themeColor;
  margin-bottom: 10px;
}


.lesson_item {
  margin-top: 15px;
  display: flex;
  align-items: center;
  i {
    margin-right: 36px;
    display: block;
    background-color: $themeColor;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #fff;
  }
}

.add_lesson_btn_wrap {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $themeColor;
  font-size: 18px;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
  }
  .el-button--text {
    font-size: 18px;
  }
  i {
    margin-right: 5px;
  }
}

.handle_btn_wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 300px;
    & + a {
      margin-left: 15px;
    }
  }
}

.result_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .result_subtitle {
    font-size: 18px;
    color: #0B0817;
  }
  .result_title {
    text-align: center;
    width: 400px;
    font-size: 18px;
    color: $themeColor;
    margin-bottom: 53px;
  }
  .ewm_content {

  }
}

.popup_btn_wrap {
  border-top: 1px #E5E5EE solid;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  .confirm {
    color: $themeColor;
    border-left: 1px #E5E5EE solid;
  }
}

.calender_text {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  p {
    margin-bottom: 15px;
  }
  div {
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
  }
}


.m_clone_popup {
  border-radius: 5px;
  & > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    span {
      padding-left: 30px;
      color: #F76B1C;
      font-size: 12px;
    }
  }
}


.clone_message {
  text-align: center;
  padding: 10px;
}
.popup_btn_wrap {
  overflow: hidden;
}

.clone_list {

  height: 380px;
  padding: 15px;
  padding-left: 60px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  li {
    float: left;
    padding: 10px 20px;
    margin: 8px 0;
    width: 340px;
    height: 20px;
    background-color: #dcdfe6;
    color: #000;
    border-radius: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    &.active {
      border-color: $themeColor;
      background-color: $themeColor;
      color: #fff;
    }
  }
}
