
@import '../minix/index';
@import '../theme/index';
* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
body { margin: 0 auto;height: 100%; font-size: 14px; fon-family:PingFangSC-Regular,-apple-system,Helvetica,sans-serif; line-height: 1.5; color: #0B0912; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input,
textarea {
    border: 0; /* 方法1 */
    -webkit-appearance: none; /* 方法2 */
}

.van-dialog {
  max-width: 350px;
  .van-dialog__content {
    text-align: center;
  }
}

.m_subtitle {
  display: flex;
  align-items: center;
  color: #ADADBD;
  font-size: 14px;
  i {
    margin-right: 5px;
    display: block;
    width: 12px;
    height: 12px;
    @include dprImg('name_icon');
    background-size: 100%;
    &.date {
      @include dprImg('classdate_icon');
      background-size: 100%;
    }
    &.xh {
      @include dprImg('serialnumber_icon');
      background-size: 100%;
    }
  }
}

.m_wrap, .m_view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.m_body {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#m_wrap .m_header {
  margin-top: 30px;
}

.w100 {
  width: 100%;
}

.el-time-spinner.has-seconds .el-time-spinner__wrapper:nth-child(2) {
  margin-left: 0;
}

.el-input.is-disabled .el-input__inner {
  background-color: #fff;
  color: #000000;
}

.rate {
  margin-top: 10px;
  .el-rate__icon {
    font-size: 24px;
  }
}

.van-toast{
  z-index: 2000;
}

.van-toast-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
}


// 动画
.right-in-enter-active, .right-in-leave-active {
  transition: all .3s
}
.right-in-enter, .right-in-leave-to /* .right-in-leave-active 在低于版本 2.1.8 中 */ {
  transform: translateX(100%)
}

.bottom-go-enter-active, .bottom-go-leave-active {
  transition: all .3s
}
.bottom-go-enter, .bottom-go-leave-to /* .right-in-leave-active 在低于版本 2.1.8 中 */ {
  opacity: 0;
  transform: translateY(10%)
}

.forward-enter-active,
.forward-leave-active {
  transition: all .5s;
  z-index: 1;
}

.forward-enter {
  transform: translateX(100%);
  z-index: 1;
}
.forward-leave-to {
  transform: translateX(-20%);
}

.black-leave-active {
  transition: all .4s;
  z-index: 99;
}

.black-enter-active {
  transition: all .4s;
}

.black-enter {
  transform: translateX(-100%);
}

.black-leave,
.black-leave-to {
  transform: translateX(100%);
  z-index: 99;
}

.m_validate_input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
  span {
    position: relative;
    padding: 0 8px;
    display: block;
    font-weight: bold;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      height: 90%;
      border-left: 1px #e3e3e3 solid;
      transform: translateY(-50%);
    }
  }
  input {
    flex: 1;
    padding: 10px 10px;
    border: none;
  }
}

// 按钮
.m_btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background-color: $themeColor;
  text-align: center;
  &.m_btn_danger {
    background-color: #F76B1C;
    &:active {
      background-color: lighten($color: #F76B1C , $amount: 10%);
    }
  }
  &.m_btn_primary {
    background-color: #4b0;
    &:active {
      background-color: lighten($color: #4b0 , $amount: 10%);
    }
  }
  &.m_btn_disabled {
    background-color: #ADADBD;
    background-color: lighten($color: #ADADBD , $amount: 10%);
  }
  &.m_btn_text {
    display: inline-block;
    padding: 10px;
    color: $themeColor;
    border: none;
    background-color: transparent;
    &:active {
      background-color: transparent;
      color: $themeColor;
    }
  }
  &.full {
    width: 100%;
  }
  &:active {
    background-color: lighten($color: $themeColor, $amount: 10%);
  }
}

.m_input_group {
  margin-bottom: 20px;
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
}
.m_input_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  .m_input {
    flex: 1;
    margin-top: 0;
  }
  .captcha_btn {
    margin-left: 10px;
  }
}
// input
.m_input {
  box-sizing: border-box;
  padding: 8.5px 10px;
  border-radius: 4px;
  border: 1px #e3e3e3 solid;
  font-size: 14px;
  &.center {
    margin: 15px auto;
  }
  .m_input_group & {
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    border-top: 1px #e3e3e3 solid;
    &:first-child {
      border: none;
    }
  }
}

/*选项卡
---------------------------------------------------------------------------------------------------------------------*/
// 选项卡
.m_tab_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .m_tab_nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .m_tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 36px;
      font-size: 14px;
      color: #0B0817;
      border-bottom: 1px solid $boderColor;
    }
  }

  .m_tab_line {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 2px;
    background-color: $themeColor;
    transition: all .5s;
  }
  .m_tab_content {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    &_wrap {
      display: flex;
      transition: all .3s;
      & > div {
        flex: 1;
        margin-right: 5px;
        @extend %flex_column;
        justify-content: flex-start;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


.fixed_bottom_content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-top: 1px #e3e3e3 solid;
  z-index: 999px;
}


/*最外层容器
------------------------------------------------------------------------------------------*/
.m_view
.pages,
.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}


.m_mask_wrap, .m_mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}
.m_mask {
  background-color: rgba($color: #fff, $alpha: .6);
}
.m_mask_content {
  padding: 0 40px;
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 610px;
  height: 480px;
  background-color: #fff;
  z-index: 100;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 1px 15px 5px rgba($color: #000, $alpha: .2);
  border-radius: 5px;
  font-size: 18px;
  & > p {
    text-align: center;
  }
}

.select_course {
  margin-bottom: 20px;
  & > div {
    padding-left: 70px;
    max-height: 220px;
    overflow: auto;
  }
  p {
    color: #F76B1C;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .el-button {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 360px;
    span {
      display: block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.m_input_content {
  margin-bottom: 15px;
  .input {
    width: 220px;
  }
  .m_subtitle {
    margin-bottom: 10px;
  }
}

.input_content_grade {
  display: flex;
  align-items: center;
  & > span {
    margin: 0 8px;
  }
}

.m_mask_btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  border-top: 1px #E5E5E5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &.confirm {
      border-left: 1px #E5E5E5 solid;
      color: $themeColor;
    }
  }
}

.van-toast-wrapper  {
  z-index: 9999;
}
